{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}

<h2>{{ header_students }}</h2>
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} | {{ student.group }} <br> Преподаватель: {{ student.teacher.name }} | {{ student.teacher.subject }}</li>
  {% endfor %}
  </ul>
</div>
<h2>{{ header_teachers }}</h2>

<!--  {% for teacher in student.teachers.all %}-->
<!--  <p>{{ teacher.name }}: {{ teacher.subject }}</p>-->
<!--  {% endfor %}-->
{% endblock %}