{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}

<h2>{{ header_students }}</h2>
<div class="row">

  {% for student in object_list %}
    <li class="list-group-item text-secondary">{{ student.name }} <span>Класс:</span> {{ student.group }}</li>
  {% endfor %}

</div>
<div>
<h2>{{ header_teachers }}</h2>
  {% for student in object_list %}
  <h5 class="card-title text-primary">Школьник: {{student.name}}</h5>
     {% for teacher in student.teachers.all %}
     <h6>Преподаватель: {{teacher.name}}: {{ teacher.subject }}</h6>
     {% endfor %}
  <br>
  {% endfor %}

  </div>
{% endblock %}